*.sh text eol=lf
*.bash text eol=lf
*.launch text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.msg text eol=lf
*.srv text eol=lf
*.dae text eol=lf
*.sdf text eol=lf
*.urdf text eol=lf
*.xacro text eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.stl binary
*.STL binary
*.pgm binary
*.zip binary
