<launch>
  <arg name="input_topic" default="/rslidar_points" />
  <arg name="non_ground_topic" default="/lidar/non_ground_points" />
  <arg name="ground_z_threshold" default="-0.25" />

  <node name="roi_filter_node"
        pkg="roi_filter"
        type="roi_filter_node"
        output="screen">
    <rosparam command="load"
              file="$(find roi_filter)/config/roi_params.yaml" />
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="non_ground_topic" value="$(arg non_ground_topic)" />
    <param name="ground_z_threshold"
           value="$(arg ground_z_threshold)" />
  </node>
</launch>
